<main class="form-signin w-100 m-auto">
    <form [formGroup]="formGroupRegister">
        <h1 class="h3 mb-3 fw-normal">Login</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput1" placeholder="nom" formControlName="nom">
            <label for="floatingInput1">Nom</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput2" placeholder="prenom" formControlName="prenom">
            <label for="floatingInput2">Prenom</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput3" placeholder="CIN" formControlName="cin">
            <label for="floatingInput3">CIN</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput4" placeholder="telephone" formControlName="telephone">
            <label for="floatingInput4">Telephone</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput5" placeholder="adresse" formControlName="adresse">
            <label for="floatingInput5">Adress</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInpu6t" placeholder="Login" formControlName="username">
            <label for="floatingInpu6t">Login</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingInput7" placeholder="password" formControlName="password">
            <label for="floatingInput7">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingInput8" placeholder="password Matcher" formControlName="passwordMach">
            <label for="floatingInput8">password confirmation</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="register()" [disabled]="
        (formGroupRegister.status == 'INVALID' && formGroupRegister.touched == true && formGroupRegister.dirty == true) || (formGroupRegister.dirty == false) ">
        Inscription</button>

        <div class="row">
            <div class="col-md-6">
                <span *ngIf="formGroupRegister.get('nom').touched && formGroupRegister.get('nom').hasError('required') "> le nom est requit</span>
                <span *ngIf="formGroupRegister.get('password').touched && formGroupRegister.get('password').hasError('maxlength') "> password too big</span>
                <span *ngIf="formGroupRegister.get('password').touched && formGroupRegister.get('password').hasError('minlength') "> password too short</span>
                <span *ngIf="formGroupRegister.get('passwordMach').touched && formGroupRegister.get('passwordMach').hasError('mustMatch') ">Les Deux Mot de passe ne correspondes pas</span>
            </div>
        </div>
        <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
    </form>
</main>