<div class="row">
    <app-nav-bar></app-nav-bar>
</div>
<div class="row">
    <div class="col-md-3">
        <app-sire-bar></app-sire-bar>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>