<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 1000px;">
    <ul class="nav nav-pills flex-column mb-auto" >
      <li class="nav-item" *ngFor="let menuItem of menu">
        <a [routerLink]="[menuItem.linkToIt]" class="nav-link text-white" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"></svg>
          {{menuItem.label}}
        </a>
      </li>
    </ul>
  </div>